<!DOCTYPE html>
<html lang="en">

<div id="Iteriermenge">
{{ if .Zufallsfeld }}

<p> {{ .Zufallsfeld }} </p>

{{ end }}
</div>

<form hx-post="/zufallsfaktor" hx-target="#Iteriermenge" >
    <label for="zufallsfaktor-input">Hier Zufallsfaktoren einlesen</label>
    <input id="zufallsfaktor-input" name="zufallsfaktor-input" type="text">
</form>

<div id="filmauswahl-ergebnis">

    <button
        hx-get="/filmkalkulation"
        hx-swap="outerHTML"
        hx-target="#filmauswahl-ergebnis"
        hx-trigger="click"
    >
        Film berechnen?
    </button>

<iframe src="https://giphy.com/embed/e06Wc1bfzPQXnXyhLW" width="480" height="480" class="giphy-embed" allowFullScreen>
</iframe><p><a href="https://giphy.com/gifs/SVT-david-sundin-bst-i-test-e06Wc1bfzPQXnXyhLW">via GIPHY</a></p>

</div>
